<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skr.expensetrack" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExpenceIncomeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".FilterAndViewExpenseIncomeActivity"
            android:label="@string/action_sort_by_other_factors"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CategoryDeleteConfirmationActivity"
            android:label="@string/title_activity_category_delete_confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".CurrencySettingActivity"
            android:label="@string/title_activity_currency_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CategorySettingActivity"
            android:label="@string/side_panel_items_array_get_total"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DurationSettingActivity"
            android:label="@string/title_activity_duration_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AmountSettingActivity"
            android:label="@string/title_activity_amount_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SetYourCurrencyActivity"
            android:label="@string/title_activity_set_your_currency"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".ShowTotalDetailsActivity"
            android:label="@string/title_activity_show_total_details"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".LoadFromArchiveListActivity"
            android:label="@string/title_activity_load_from_archive_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExportToExcelActivity"
            android:label="@string/title_activity_export_to_excel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddExpenceIncomeActivity"
            android:label="@string/title_activity_add_expence_income"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HelpScreenActivity"
            android:label="@string/title_activity_help_screen" >
        </activity>
    </application>

</manifest>
